@import "tailwindcss";

@theme {
  --color-primary: #eebd2b;
  --color-background-light: #f8f7f6;
  --color-background-dark: #221d10;

  --font-serif: var(--font-newsreader), ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-display: var(--font-newsreader), ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}

/* Custom Utilities based on HTML */
@layer utilities {
  .editorial-spacing {
    letter-spacing: -0.02em;
  }
  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 24;
  }
}
